* {
    margin: 0;
    box-sizing: border-box;
    color: #555;
}

body {
    font-family: 'Prompt', 'Montserrat', sans-serif;
}

/* navbar css */
.logo {
    height: 32px;
    display: flex;
    align-items: center;
}
.logo h1 {
    font-weight: 600;
    color: gray;
    font-size: 1.2rem;
}
.logo span {
    font-weight: 300;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(189, 188, 187);
    height: 64px;
    padding: 0 24px;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

nav a:hover {
    text-decoration: underline;
}

/* sec1 css */

.hero {
    display: flex;
    align-items: center;
    color: #777;
    background-color: #dadada;
}

/* .hero div {
    width: 28%;
} */

.hero img {
    width: 60%;
    margin: 32px 24px;
}

.hero h2 {
    font-size: 3.3em;
    line-height: 1em;
}

.hero h2:last-of-type {
    margin-bottom: 32px;
}

.hero p {
    font-size: 1.5em;
    font-weight: 600;
}

button {
    width: 100%;
    margin-top: 30px;
    padding: 8px;
    background-color: gray;
    border: 0;
    color: white;
}

/* sec2 */

.information {
    display: flex;
    padding: 32px 0;
}

.info-main {
    width: 60%;
    margin: 0 24px;
}

.info-main img {
    width: 100%;
}

.info-main h2 {
    margin: 32px 0 24px;
    font-size: 2.8em;
}

.info-main p {
    font-weight: 300;
}

.info-main p:last-child {
    margin-top: 30px;
    font-size: 0.8em;
    font-weight: 500;
}

.info-sidebar {
    width: 40%;
}

.info-sidebar-item {
    display: flex;
    align-items: center;
    border-left: 1px solid rgb(206, 206, 206);
}

.info-sidebar-item:hover {
    background-color: #eee;
}

.info-sidebar-item img {
    aspect-ratio: 1;
    object-fit: cover;
    height: auto;
    width: 35%;
    margin: 16px;
}
.info-sidebar-item-detail {
    width: 65%;
}

.info-sidebar-item-detail h3 {
    font-size: 1.7em;
    font-weight: 600;
}

.info-sidebar-item-detail p {
    margin: 8px 0;
}

.info-sidebar-item-detail a {
    text-decoration: none;
    color: rgb(79, 149, 253);
}

/* sec3 */

.course {
    background-color: #ddd;
    padding: 32px 0;
}

.course h2 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 32px;
}

.course-container {
    padding: 0 72px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.course-item {
    background-color: white;
    width: min-content;
}

.course-item img {
    height: auto;
}

.course-item div {
    padding: 16px 0 16px 24px;
}

.course-item h3 {
    font-weight: 600;
    font-size: 1.6em;
}

.course-item h4 {
    font-weight: 300;
    font-size: 1.2em;
}

.course-item p {
    /* width: 90%; */
    font-size: 0.9em;
}

/* sec4 */

.thesis-container {
    display: flex;
}

.thesis h2 {
    text-align: center;
    font-size: 2em;
    padding: 32px 0;
}

.thesis-main {
    width: 60%;
    padding: 0 24px 32px;
}

.thesis-main h3{
    font-size: 30px;
    font-weight: 600;
    margin: 24px 0 8px;
}

.thesis-main video{
    width: 100%;
}

.thesis-sidebar {
    width: 40%;
}

.thesis-sidebar-item {
    padding: 16px;
    display: flex;
    align-items: center;
}
.thesis-sidebar-item-detail {
    margin-left: 16px;
}

.thesis-sidebar-item-detail h4 {
    font-size: 2em;
    font-weight: 600;
}

.thesis-sidebar-item-detail p {
    font-weight: 500;
    font-size: 1.1em;
}

.thesis-sidebar-item img {
    height: auto;
    width: 35%;
}

.thesis-sidebar-item-detail {
    width: 65%;
}

.thesis-sidebar-item:hover {
    background-color: rgb(190, 190, 190);
}

/* footer */
footer {
    padding: 16px 24px;
    border-top: 1px solid rgb(182, 182, 182);
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-link a {
    text-decoration: none;
}

/* media query */
@media only screen and (max-width: 768px) {
    nav a,nav li:nth-child(3),nav h1 {
        display: none;
    }
    nav {
        gap: 70px;
        justify-content: center;
        align-items: center;
    }
    nav ul {
        gap: 70px;
        padding: 0;
        display: flex;
    }

    nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 992px) {
    /* sec1 */
    .hero {
        flex-direction: column;
    }

    .hero img {
        width: 100%;
        margin: 0;
    }
    
    .hero div {
        width: auto;
        margin: 32px 16px;
    }

    .hero h2:last-of-type {
        margin-bottom: 32px;
    }

    .hero p {
        display: block;
    }

    .hero button {
        margin-top: 24px;
    }

    /* sec2 */

    .information {
        flex-direction: column;
        padding: 0;
    }
    .info-main {
        display: none;
    }
    .info-sidebar {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .info-sidebar-item:first-child {
        flex-direction: column;
        padding: 16px;
    }
    .info-sidebar-item {
        flex-direction: column;
        padding: 32px 16px;
    }
    .info-sidebar-item img {
        aspect-ratio: auto;
        width: 100%;
        margin: 0;
    }
    .info-sidebar-item-detail {
        width: 100%;
        padding: 16px;
    }

    /* sec3 */
    .course {
        background: white;
    }

    .course h2 {
        margin-bottom: 16px;
    }
    .course-item img, .course-item h4, .course-item p {
        display: none;
    }
    .course-container {
        flex-direction: column;
        gap: 8px;
    }
    .course-item {
        width: 100%;
        background: #eee;
    }

    .course-item div {
        padding: 16px 16px 24px;
    }

    /* sec4 */

    .thesis h2 {
        padding: 32px 0 16px;
    }

    .thesis-main {
        width: 100%;
        padding: 0;
        margin-bottom: 24px;
    }

    .thesis-main h3,.thesis-container p {
        display: none;
    }

    .thesis-sidebar {
        display: none;
    }
    
    /* footer */
    .footer-container p {
        display: block;
    }

    .footer-link {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    nav ul img {
        display: none;
    }
}