* {
    margin: 0;
    box-sizing: border-box;
    color: #555;
}

body {
    font-family: 'Prompt', 'Montserrat', sans-serif;
}

/* navbar css */
.logo {
    height: 32px;
    display: flex;
    align-items: center;
    border: 1px solid red;
}
.logo h1 {
    font-weight: 600;
    color: gray;
    font-size: 1.2rem;
}
.logo span {
    font-weight: 300;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 219, 153);
    height: 64px;
    padding: 0 24px;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

nav a:hover {
    text-decoration: underline;
}

/* sec1 css */

.hero {
    display: flex;
    align-items: center;
    color: #777;
    background-color: #dadada;
}

.hero div {
    border: 1px solid red;
    width: 28%;
}

.hero img {
    width: 60%;
    margin: 32px 24px;
}

.hero h2 {
    font-size: 3.2em;
    line-height: 1em;
    margin-bottom: 30px;
}

.hero p {
    font-size: 1.5em;
    font-weight: 600;
}

button {
    width: 100%;
    margin-top: 30px;
    padding: 8px;
    background-color: gray;
    border: 0;
    color: white;
}

/* sec2 */

.information {
    display: flex;
}

.info-main {
    width: 60%;
    margin: 32px 24px;
}

.info-main img {
    width: 100%;
}

.info-main h2 {
    margin: 32px 0 24px;
    font-size: 2.8em;
}

.info-main p {
    font-weight: 300;
}

.info-main p:last-child {
    margin-top: 20px;
    font-size: 0.8em;
    font-weight: 500;
}

.info-sidebar {
    width: 40%;
}

.info-sidebar-item {
    display: flex;
    align-items: center;
    border-left: 1px solid rgb(206, 206, 206);
}

.info-sidebar-item:hover {
    background-color: orange;
}

.info-sidebar-item img {
    aspect-ratio: 1;
    object-fit: cover;
    height: auto;
    width: 35%;
    margin: 16px;
}
.info-sidebar-item-detail {
    width: 65%;
}

.info-sidebar-item-detail h3 {
    font-size: 1.7em;
    font-weight: 600;
}

.info-sidebar-item-detail p {
    margin: 8px 0;
}

.info-sidebar-item-detail a {
    text-decoration: none;
    color: rgb(79, 149, 253);
}

/* sec3 */

.course {
    background-color: #ddd;
    padding: 32px 0;
}

.course h2 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 32px;
}

.course-container {
    padding: 0 72px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.course-item {
    background-color: white;
    width: min-content;
}

.course-item img {
    height: auto;
}

.course-item div {
    padding: 16px 0 16px 24px;
}

.course-item h3 {
    font-weight: 600;
    font-size: 1.6em;
}

.course-item h4 {
    font-weight: 300;
    font-size: 1.2em;
}

.course-item p {
    /* width: 90%; */
    font-size: 0.9em;
}

/* sec4 */

.thesis-container {
    display: flex;
}

.thesis h2 {
    text-align: center;
    padding: 32px 0;
}

.thesis-main {
    width: 60%;
    padding: 0 24px 32px;
}

.thesis-main h3{
    font-size: 30px;
    font-weight: 600;
    margin: 24px 0 8px;
}

.thesis-main video{
    width: 100%;
}

.thesis-sidebar {
    width: 40%;
}

.thesis-sidebar-item {
    padding: 16px;
    display: flex;
    align-items: center;
}
.thesis-sidebar-item-detail {
    margin-left: 16px;
}

.thesis-sidebar-item-detail h4 {
    font-size: 2em;
    font-weight: 600;
}

.thesis-sidebar-item-detail p {
    font-weight: 500;
    font-size: 1.1em;
}

.thesis-sidebar-item img {
    height: auto;
    width: 35%;
}

.thesis-sidebar-item-detail {
    width: 65%;
}

.thesis-sidebar-item:hover {
    background-color: rgb(190, 190, 190);
}

/* footer */
footer {
    padding: 16px 24px;
    border-top: 1px solid rgb(182, 182, 182);
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.footer-link a {
    text-decoration: none;
}